@import 'tailwindcss';

:root {
  @apply bg-white text-black;
}

Header {
  @apply text-center top-0 w-full flex justify-center border-b border-gray-50 shadow-sm;
}

Footer {
  @apply w-full  flex justify-center flex-shrink mt-auto;
}

.socialList {
  @apply flex flex-row gap-1 pb-1;
}

body {
  @apply min-h-screen flex flex-col;
}

h1 {
  @apply text-4xl font-bold m-5 pb-5;
}

h2 {
  @apply text-3xl font-bold m-5 pb-5;
}

p {
  @apply text-2xl m-5 pb-5;
}

a {
  @apply text-2xl font-bold p-2 hover:bg-black hover:text-white hover:opacity-100;
}

.weather {
  @apply absolute top-0 left-0 p-2 z-100 font-bold text-lg;
}

.weatherError {
  @apply absolute top-5 left-0 p-2 z-100;
}

.weatherLocation {
  @apply absolute top-5 left-0 p-2 z-100;
}

.navigation {
  @apply right-0 absolute top-0 p-2 z-100;
}

.navList {
  @apply flex flex-col  rounded-xl;
}

/*entrypage*/

.entryPage {
  @apply relative flex flex-row flex-1 justify-center overflow-hidden min-h-screen m-2;
}

.entryText {
  @apply w-4/6;
}

/*hobbies*/

.hobbiesPage {
  @apply relative flex flex-row flex-1 justify-center overflow-hidden min-h-screen m-0.5;
}

.hobbiesImage img {
  @apply w-full h-full object-cover opacity-30 blur-sm;
}

.hobbiesText {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-sm;
}

/*ticorporate*/

.ticorporatePage {
  @apply flex flex-col justify-center m-2;
}

.teknologiat {
  @apply flex flex-row;
}

.images {
  @apply flex  gap-2 p-5 border-2 border-white rounded-lg;
}

.image-container {
  @apply flex flex-col items-center hover:w-6xl w-3xl;
}

ul {
  @apply flex flex-col gap-2;
}
li {
  @apply font-bold text-xl p-2;
}

/*internship*/

.internshipPage {
  @apply flex  justify-center m-2;
}

/*mobile screen*/
@media (max-width: 768px) {
  .entryPage {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navigation {
    background-color: black;
    color: white;
  }

  .ticorporatePage {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ticoText {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .teknologiat {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image-container {
    width: 50%;
    margin-bottom: 10px;
  }

  .image-container:hover {
    width: 75%;
  }

  .image {
    width: 100%;
    height: auto;
  }

  .images {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .internshipPage {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .studiesPage {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header {
    @apply text-center top-0 w-full flex justify-center border-b border-gray-50 shadow-sm;
  }

  .weather {
    @apply top-0 left-0 font-normal z-100  text-xs;
  }

  .header h1 {
    @apply text-lg font-bold pl-2;
  }

  .weatherError {
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 0px;
    z-index: 100;
    font-size: 12px;
    color: #000;
    background-color: #fff;
  }
}
